.advantages__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  position: relative;
}

.advantages__title {
  margin-top: 33px;
  margin-bottom: 16px;
  font-family: 'SF UI Display Thin', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  @media (max-width: 768px) {
    align-self: center;
    justify-self: center;
  }
}

.advantages__list {
  font-family: 'SF UI Display Light';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0 11px;
  padding: 0;
  list-style: none;
}

.advantages__item {
  padding-bottom: 20px;
  position: relative;
  &:nth-child(3) {
    padding-bottom: 18px;
  }
  &:nth-child(2) {
    padding-bottom: 17px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -11px;
    width: 8px;
    height: 8px;
    background-image: url('../img/advantages-mobile.svg');
    background-repeat: no-repeat;
  }
}

.advantages__image {
  position: absolute;
  bottom: -112px;
  right: -8px;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    margin: 0;
    text-align: center;
  }
  .advantages__item {
    &::before {
      top: 10px;
      left: 610px;
    }
  }
  .advantages__image {
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__position {
    margin: 0 auto;
    position: relative;
  }
  .advantages__title {
    margin: 0;
    padding: 0;
    font-size: 42px;
    line-height: 55px;
    padding-top: 130px;
    padding-right: 210px;
    padding-bottom: 24px;
  }
  .advantages__list {
    margin-left: auto;
    margin-right: 190px;
    text-align: left;
  }
  .advantages__item {
    padding-bottom: 17px;
    font-family: 'SF UI Display Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -24px;
      top: 6px;
      width: 16px;
      height: 16px;
      background-image: url('../img/advantages.svg');
      background-repeat: no-repeat;
    }
    &--shadow {
      display: none;
    }
  }
  .advantages__image {
    position: absolute;
    top: -56px;
    left: 60px;
  }
}