.grant {
  font-family: 'SF UI Display Light', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  position: relative;
}

.grant__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.grant__title {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  font-family: 'SF UI Display Thin', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  &--end {
    font-family: 'SF UI Display Medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fe9300;
    padding-top: 2px;
    letter-spacing: 0.2px;
  }
}

.grant__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.grant__item-title {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-family: 'SF UI Display Medium', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.grant__title-description {
  margin: 0;
  padding: 0;
  padding-top: 8.5px;
  padding-left: 12px;
  font-family: 'SF UI Display Light', sans-serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  &:last-child {
    padding-top: 4.3px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 8px;
    height: 8px;
    background-image: url('../img/advantages-mobile.svg');
    background-repeat: no-repeat;
  }
}

.grant__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grant__title-down {
  margin: 0;
  padding: 0;
  padding-top: 33px;
  font-family: 'SF UI Display Thin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
}

.grant__list-down {
  margin: 0;
  padding: 0;
  list-style: none;
}

.grant__item-down {
  padding-bottom: 80px;
  position: relative;
  &:nth-child(3) {
    padding-bottom: 76px;
  }
  &--image::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 120px;
    width: 186px;
    height: 92px;
    background-image: url('../img/steps-mobile.svg');
    background-repeat: no-repeat;
  }
  &--legs::before {
    content: "";
    position: absolute;
    top: 96px;
    left: 121px;
    width: 186px;
    height: 92px;
    background-image: url('../img/steps-mobile.svg');
    background-repeat: no-repeat;
  }
  &--art::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 120px;
    width: 186px;
    height: 92px;
    background-image: url('../img/steps-mobile.svg');
    background-repeat: no-repeat;
  }
}

.grant__item-title-down {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.grant__title-description-down {
  margin: 0;
  padding: 0;
  font-family: 'SF UI Display Light', sans-serif;
  font-style: normal;
  font-weight: normal;
  &:not(:last-child) {
    padding-top: 9px;
    padding-bottom: 5px;
    color: #ffb500;
  }
  &--position {
    padding-left: 6px;
  }
}

.grant__reward {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 116px;
  &::before {
    content: '';
    position: absolute;
    bottom: 40px;
    left: -5px;
    width: 157px;
    height: 181px;
    background-image: url('../img/trophy-cup-svgrepo-com.svg');
    background-repeat: no-repeat;
  }
}

.grant__reward-title {
  margin: 0;
  padding: 0;
  padding-right: 2px;
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.grant__reward-description {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-left: 5px;
  color: #ffb500;
}

.grant__consultation {
  display: inline-block;
  margin-top: 24px;
  width: 290px;
  height: 40px;
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  background: #077134;
  box-shadow: -3px -3px 6px rgba(49, 163, 97, 0.19), 3px 3px 6px rgba(5, 78, 36, 0.19), inset -2px -2px 6px rgba(17, 198, 94, 0.53), inset 2px 2px 6px rgba(5, 90, 41, 0.58);
  border-radius: 40px;
  border: none;
  color: #fff;
}

@media (min-width: $tablet-width) {
  .grant__list {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 20px;
  }
  .grant__item {
    margin-left: 50px;
  }
}

@media (min-width: $desktop-width) {
  .grant {
    font-size: 20px;
    line-height: 26px;
    position: relative;
  }
  .grant__title {
    padding-top: 64.5px;
    font-size: 42px;
    line-height: 55px;
    margin-left: 28px;
    &--end {
      letter-spacing: 0.5px;
    }
  }
  .grant__item {
    margin-left: 0;
  }
  .grant__list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 56px;
    margin-left: 87px;
    padding-bottom: 30px;
    width: 50.5%;
  }
  .grant__item-title {
    margin: 0;
    padding: 0;
    font-family: 'SF UI Display Medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
  }
  .grant__title-description {
    font-size: 20px;
    line-height: 26px;
    padding-left: 24px;
    position: relative;
    &:not(:last-child) {
      padding-top: 16px;
      padding-bottom: 4px;
    }
    &::before {
      top: 42%;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url('../img/advantages.svg');
    }
  }
  .grant__position {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .grant__title-down {
    margin: 0;
    padding: 0;
    padding-top: 64px;
    font-family: 'SF UI Display Thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 55px;
  }
  .grant__list-down {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grant__item-down {
    position: relative;
    &--image::before {
      top: 50px;
      bottom: 0;
      left: 280px;
      width: 178px;
      height: 101px;
      background-image: url('../img/steps.svg');
    }
    &--art::before {
      top: 55px;
      bottom: 0;
      left: 326px;
      width: 178px;
      height: 101px;
      background-image: url('../img/steps.svg');
    }
    &--legs::before {
      top: 58px;
      bottom: 0;
      left: 306px;
      width: 178px;
      height: 101px;
      background-image: url('../img/steps-2.svg');
    }
  }
  .grant__item-down:not(:first-child) {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    margin-left: 246px;
    &:nth-child(3) {
      margin-left: 173px;
    }
    &:nth-child(4) {
      margin-left: 234px;
    }
  }
  .grant__item-title-down {
    margin: 0;
    padding: 0;
    padding-top: 21px;
    font-family: 'SF UI Display Medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    &--position {
      padding-top: 20px;
      padding-right: 27px;
    }
  }
  .grant__title-description-down {
    margin: 0;
    padding: 0;
    margin-top: -2px;
    font-family: 'SF UI Display Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    &:not(:last-child) {
      padding-bottom: 10px;
      color: #ffb500;
    }
    &--position {
      margin-top: -3px;
      padding-left: 9px;
    }
    &--place {
      margin-top: -6px;
      padding-left: 7px;
    }
  }
  .grant__reward {
    align-items: center;
    justify-content: center;
    margin-top: 0;
    &::before {
      top: -32px;
      left: 36px;
      width: 157px;
      height: 181px;
      background-image: url('../img/trophy-cup-svgrepo-com.svg');
    }
  }
  .grant__reward-title {
    padding-top: 138px;
    font-size: 28px;
    line-height: 36px;
  }
  .grant__reward-description {
    padding-top: 4px;
    padding-left: 7px;
    font-family: 'SF UI Display Light', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }
  .grant__consultation {
    margin: 0 auto;
    margin-top: 60px;
    width: 560px;
    height: 77px;
    font-size: 28px;
    line-height: 36px;
  }
}