.question__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
}

.question__title {
  padding-top: 14px;
  margin-bottom: 17px;
  font-family: 'SF UI Display Thin';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
}

.question__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.question__item-title {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  font-family: 'SF UI Display Medium';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 16px;
    background-image: url('../img/question-mobile.svg');
    background-repeat: no-repeat;
  }
}

.question__item-description {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-left: 24px;
  padding-bottom: 26.4px;
  font-family: 'SF UI Display Light';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.question__accept {
  display: inline-block;
  margin: 0 auto;
  margin-top: 6px;
  width: 174px;
  height: 40px;
  font-family: 'SF UI Display Medium', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  background-color: #077134;
  color: #fff;
  border-radius: 40px;
  border: none;
  box-shadow: inset -2px -2px 10px rgba(17, 198, 94, 0.53), inset 2px 2px 10px rgba(5, 90, 41, 0.58);
  filter: drop-shadow(-3px -3px 10px rgba(49, 163, 97, 0.19)), drop-shadow(3px 3px 10px rgba(5, 78, 36, 0.19));
}

@media (min-width: $tablet-width) {
  .question__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .question__item {
    &:nth-child(2) {
      margin-left: 8px;
    }
    &:nth-child(3) {
      margin-left: 50px;
    }
    &:nth-child(4) {
      margin-left: -30px;
    }
    &:nth-child(5) {
      margin-right: 20px;
    }
    &:nth-child(6) {
      margin-left: 107px;
    }
  }
}

@media (min-width: $desktop-width) {
  .question__title {
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0;
    padding-top: 104px;
    padding-bottom: 46px;
    font-size: 42px;
    line-height: 55px;
    padding-right: 108px;
  }
  .question__wrapper {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 112px;
  }
  .question__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .question__item {
    position: relative;
    &:nth-child(2) {
      order: 3;
      margin-top: 16px;
      margin-left: 0;
    }
    &:nth-child(3) {
      order: 1;
      margin-left: 145px;
    }
    &:nth-child(4) {
      order: 4;
      margin-top: 51px;
      margin-left: 124px;
    }
    &:nth-child(5) {
      order: 2;
      margin-left: 160px;
    }
    &:nth-child(6) {
      order: 5;
      margin-top: 16px;
      margin-left: 154px;
    }
  }
  .question__item-title {
    margin: 0;
    padding: 0;
    font-family: 'SF UI Display Medium', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    &::before {
      top: 6px;
      left: -32px;
      width: 24px;
      height: 24px;
      background-image: url('../img/question-mark.svg');
      background-repeat: no-repeat;
    }
  }
  .question__item-description {
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-left: 0;
    font-size: 20px;
    line-height: 26px;
    &--shadow {
      display: none;
    }
  }
  .question__accept {
    margin: 0;
    margin-right: 102px;
    align-self: center;
    justify-self: center;
    margin-top: 67px;
    width: 323px;
    height: 77px;
    font-size: 28px;
    line-height: 36px;
  }
}