.slider { 
  background: #f8f0e9;
  height: 177px;
  margin-top: 82px;
  position: relative;
  background: #f8f0e9;
  height: 177px;
  margin-top: 82px;
  position: relative;
}

.slider__position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__art {
  margin-top: 25px;
}

.slider__left {
  position: absolute;
  right: 7px;
  top: 67px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 18px;
  height: 28px;
  background-image: url('../img/arrow-mobile.svg');
  background-repeat: no-repeat;
}

.slider__right {
  position: absolute;
  left: 7px;
  top: 67px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 18px;
  height: 28px;
  background-image: url('../img/arrow-mobile.svg');
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.slider__toggle-transition {
  padding-left: 6px;
  padding-right: 8px;
  position: relative;

  &--radio + ::before {
    content: "";
    position: absolute;
    top: 0;
    right: 6px;
    left: 2px;
    width: 7px;
    height: 7px;
    border: 4px solid rgba(254, 147, 0, 0.6);
    border-radius: 50%;
  }

  &--radio:checked + ::after {
    content: "";
    position: absolute;
    top: 0;
    right: 6px;
    left: 2px;
    width: 7px;
    height: 7px;
    border: 4px solid #fe9300;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .slider__left {
    right: 195px;
  }

  .slider__right {
    left: 190px;
  }

  .slider__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-top: 95px;
    height: 591px;
    background-color: #f7efe8;
  }

  .slider__art {
    margin-top: 55px;
  }

  .slider__position {
    margin-top: 53px;
    position: relative;
  }

  .slider__left {
    left: 234px;
    top: 248px;
    width: 51px;
    height: 96px;
    background-image: url('../img/arrow.svg');
  }
  
  .slider__right {
    left: 85.4%;
    top: 248px;
    width: 51px;
    height: 96px;
    background-image: url('../img/arrow.svg');
    transform: rotate(180deg);
  }
}